div.cm{
	position: absolute;
}

.cm-list{	
    padding: 0px;
    margin: 0px;
    position: absolute;
    table-layout: fixed;
    border-color: darkgrey;
    border-style: solid;
    border-width: 2px;
    box-shadow: 2px 2px 10px #888888;
    min-width: 120px;
}

.cm-item:not(.active) .cm-list{
	display: none;
}

.cm-item.active>.cm-list{
	display: block;
}

.cm-item{
	display: block;
	padding: 10px 10px 15px 20px;
    background-color: white;
}

.cm-item:hover{
	border: 6px 0px 6px 0px;
	background-color: #eee;
}

.cm-br{
	margin: 0px;
	border-color: #eee;
}